<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<main class="flex w-screen h-screen justify-center items-center">
	<!-- welcome message  section -->
	<div>
		<h3 class="text-center text-2xl font-bold">Hello Admin,</h3>
		<p class="text-center">
			Welcome to EMMA DUNAMIX INVESTMENT CONCERT LIMITED employee dashboard
		</p>
	</div>
</main>
<%- include('layouts/footer'); -%>
