<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<main class="flex">
	<!-- data section -->
	<div class="w-5/12 mx-auto mt-12">
		<h3 class="text-center text-xl font-bold">Delete form</h3>
		<p class="text-center font-bold mt-7 text-blue-600">
			<%= message %> !
		</p>
	</div>
</main>
<%- include('layouts/footer'); -%>
