<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<main class="flex w-screen h-80 justify-center mt-10">
	<section class="text-center">
		<h2 class="my-5 font-bold text-xl">Welcome Guest</h2>
		<p>Login to add new  Employee Data</p>
	</section>
</main>
<%- include('layouts/footer'); -%>
