<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<h1 class="font-bold text-2xl underline text-center">
	EMMA DUNAMIX INVESTMENT CONCERT LIMITED
</h1>

<main style="background-image: url('/images/logo.png'); background-repeat: no-repeat; background-position: center;" class="flex w-screen h-screen justify-center">
	<section class="text-center">
		<h2 class="my-5 font-bold text-xl">Welcome Guest</h2>
		<p>Login to add new  Employee Data</p>
	</section>
</main>
<%- include('layouts/footer'); -%>
