<%- include('layouts/header'); -%>
<%- include('layouts/nav'); -%>
<main class="flex w-screen h-screen justify-center items-center">
	<!-- data section -->
	<div class="">
		<img src="/images/page404.svg" width="300" height="100" alt="form not found icon">
		<p class="text-center font-bold mt-5 text-gray-500">
			Page not found
		</p>
	</div>
</main>
<%- include('layouts/footer'); -%>
